@use '../settings' as setting;
.o-stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &\:nav {
    margin-right: calc(setting.spaces(base) * -1);
  }
  &\:bottom-address {
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    & > * + * {
      margin-top: setting.spaces(base);
    }
  }
  &\:newsList {
    & > * + * {
      margin-top: setting.spaces(m);
    }
  }
  &\:annouce {
    font-size: setting.fontsize(xs);
    color: var(--c-dimmed);
    > li {
      position: relative;
      padding-left: setting.spaces(base);
      &:before {
        content: '※';
        position: absolute;
        left: 0;
      }
    }
  }
  &\:xxs {
    & > * + * {
      margin-top: setting.spaces(2xs);
    }
  }
  &\:xs {
    & > * + * {
      margin-top: setting.spaces(xs);
    }
  }
}
